name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  snake:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: messa134
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Deploy snake
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: output
          folder: dist
